<header th:fragment="header" class="flex h-16 shrink-0 items-center border-b px-4 bg-background md:px-6">
    <a href="#" class="mr-4 flex items-center gap-2 text-lg font-semibold sm:text-base">
        <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="h-6 w-6"
        >
            <line x1="22" x2="2" y1="6" y2="6"></line>
            <line x1="22" x2="2" y1="18" y2="18"></line>
            <line x1="6" x2="6" y1="2" y2="22"></line>
            <line x1="18" x2="18" y1="2" y2="22"></line>
        </svg>
        <span>CVE Kosain</span>
    </a>
</header>