<section th:fragment="Section1">
    <div class="grid gap-4">
        <div class="flex items-center justify-between">
            <h2 class="text-2xl font-semibold">CCE</h2>
                <form th:action="@{/run-python}" method="post">
                    <button class="inline-flex h-10 items-center justify-center whitespace-nowrap rounded-md border px-4 py-2 text-sm font-medium transition-colors ring-offset-background border-input bg-background hover:bg-accent hover:text-accent-foreground focus-visible:ring-ring focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
                            type="submit">Start
                    </button>
                </form>
        </div>
        <div class="grid gap-4 md:grid-cols-2">
            <div class="rounded-lg border shadow-sm bg-card text-card-foreground" data-v0-t="card">
                <div class="flex flex-col p-6 space-y-1.5">
                    <h3 class="whitespace-nowrap text-2xl font-semibold leading-none tracking-tight">목적</h3>
                </div>
                <div class="p-6">
                    <div class="aspect-[4/3]">
                        <div class="flex aspect-video justify-center text-xs [&amp;_.recharts-cartesian-axis-tick_text]:fill-muted-foreground [&amp;_.recharts-cartesian-grid_line[stroke='#ccc']]:stroke-border/50 [&amp;_.recharts-curve.recharts-tooltip-cursor]:stroke-border [&amp;_.recharts-dot[stroke='#fff']]:stroke-transparent [&amp;_.recharts-layer]:outline-none [&amp;_.recharts-polar-grid_[stroke='#ccc']]:stroke-border [&amp;_.recharts-radial-bar-background-sector]:fill-muted [&amp;_.recharts-rectangle.recharts-tooltip-cursor]:fill-muted [&amp;_.recharts-reference-line_[stroke='#ccc']]:stroke-border [&amp;_.recharts-sector[stroke='#fff']]:stroke-transparent [&amp;_.recharts-sector]:outline-none [&amp;_.recharts-surface]:outline-none min-h-[300px]"
                             data-chart="chart-r0">
                            <div class="recharts-responsive-container"
                                 style="width: 100%; height: 100%; min-width: 0px;">
                                <div class="recharts-wrapper"
                                     style="position: relative; cursor: default; width: 718px; height: 404px;">
                                    <svg
                                            tabindex="0"
                                            role="application"
                                            class="recharts-surface"
                                            width="718"
                                            height="404"
                                            viewBox="0 0 718 404"
                                            style="width: 100%; height: 100%;"
                                    >
                                        <title></title>
                                        <desc></desc>
                                        <defs>
                                            <clipPath id="recharts1-clip">
                                                <rect x="12" y="0" height="404" width="694"></rect>
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rounded-lg border shadow-sm bg-card text-card-foreground" data-v0-t="card">
                <div class="flex flex-col p-6 space-y-1.5">
                    <h3 class="whitespace-nowrap text-2xl font-semibold leading-none tracking-tight">Top 10
                        CVEs</h3>
                </div>
                <div class="p-6">
                    <div class="relative max-h-96 w-full overflow-auto">
                        <table class="w-full text-sm caption-bottom">
                            <thead class="[&amp;_tr]:border-b">
                            <tr class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted">
                                <th class="h-12 px-4 text-left align-middle font-bold text-muted-foreground [&amp;:has([role=checkbox])]:pr-0">
                                    점검일
                                </th>
                                <th class="h-12 px-4 align-middle font-bold text-muted-foreground [&amp;:has([role=checkbox])]:pr-0">
                                    Server
                                </th>
                                <th class="h-12 px-4 align-middle font-bold text-muted-foreground [&amp;:has([role=checkbox])]:pr-0">
                                    Status
                                </th>
                            </tr>
                            </thead>
                            <tbody class="[&_tr:last-child]:border-0">
                            <tr class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted">
                                <td class="p-2 align-middle [&:has([role=checkbox])]:pr-0 "
                                    th:text="${section1.DATE}"></td>
                                <td class="p-2 pl-36 align-middle [&:has([role=checkbox])]:pr-0"
                                    th:text="${section1.SW_INFO}"></td>
                                <td class="p-2 pl-10 align-middle [&:has([role=checkbox])]:pr-0 ">
                                    <div th:class="${section1.allSecurity >= 70 ?
                                                    'inline-flex w-fit items-center whitespace-nowrap rounded-full border px-2.5 py-0.5 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 bg-green-500 text-white' :
                                                    'inline-flex w-fit items-center whitespace-nowrap rounded-full border px-2.5 py-0.5 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 bg-red-500 text-white'}"
                                         data-v0-t="badge">
                                        <span th:text="${section1.allSecurity + '%'}"></span>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
